:root {
    --general-shadow-01: 1px 1px 1px 0px rgba(16, 25, 52, 0.4);
    --general-shadow-02: 0px 2px 12px 0px rgba(1, 5, 17, 0.12);
    --general-shadow-03: 0px 8px 28px 0px rgba(1, 5, 17, 0.3);
    --general-shadow-04: 0px 14px 42px 0px rgba(20, 20, 43, 0.14);
    --general-shadow-05: 0px 24px 65px 0px rgba(20, 20, 43, 0.16);
    --general-shadow-06: 0px 32px 72px 0px rgba(20, 20, 43, 0.24);
    --headings-typography-size-1-font-family: "Mona-Sans", Helvetica;
    --headings-typography-size-1-font-size: 28px;
    --headings-typography-size-1-font-style: normal;
    --headings-typography-size-1-font-weight: 500;
    --headings-typography-size-1-letter-spacing: 0px;
    --headings-typography-size-1-line-height: 44px;
    --headings-typography-size-2-font-family: "Mona-Sans", Helvetica;
    --headings-typography-size-2-font-size: 24px;
    --headings-typography-size-2-font-style: normal;
    --headings-typography-size-2-font-weight: 500;
    --headings-typography-size-2-letter-spacing: 0px;
    --headings-typography-size-2-line-height: 34px;
    --headings-typography-size-3-font-family: "Mona-Sans", Helvetica;
    --headings-typography-size-3-font-size: 22px;
    --headings-typography-size-3-font-style: normal;
    --headings-typography-size-3-font-weight: 500;
    --headings-typography-size-3-letter-spacing: 0px;
    --headings-typography-size-3-line-height: 28px;
    --headings-typography-size-4-font-family: "Mona-Sans", Helvetica;
    --headings-typography-size-4-font-size: 16px;
    --headings-typography-size-4-font-style: normal;
    --headings-typography-size-4-font-weight: 600;
    --headings-typography-size-4-letter-spacing: 0px;
    --headings-typography-size-4-line-height: 22px;
    --headings-typography-size-5-font-family: "Mona-Sans", Helvetica;
    --headings-typography-size-5-font-size: 14px;
    --headings-typography-size-5-font-style: normal;
    --headings-typography-size-5-font-weight: 500;
    --headings-typography-size-5-letter-spacing: 0px;
    --headings-typography-size-5-line-height: 20px;
    --headings-typography-size-6-font-family: "Mona-Sans", Helvetica;
    --headings-typography-size-6-font-size: 12px;
    --headings-typography-size-6-font-style: normal;
    --headings-typography-size-6-font-weight: 500;
    --headings-typography-size-6-letter-spacing: 0px;
    --headings-typography-size-6-line-height: 18px;
    --illustrations-blue-dark-100: rgba(39, 38, 106, 1);
    --illustrations-orange-100: rgba(255, 227, 211, 1);
    --illustrations-orange-200: rgba(232, 173, 140, 1);
    --illustrations-purple-light: rgba(219, 216, 255, 1);
    --neutral-colors100: rgba(255, 255, 255, 1);
    --neutral-colors200: rgba(217, 225, 250, 1);
    --neutral-colors300: rgba(233, 234, 243, 1);
    --neutral-colors400: rgba(174, 185, 225, 1);
    --neutral-colors500: rgba(126, 137, 172, 1);
    --neutral-colors600: rgba(11, 23, 57, 1);
    --neutral-colors700: rgba(10, 19, 48, 1);
    --neutral-colors800: rgba(8, 16, 40, 1);
    --other-overlay-40: rgba(0, 0, 0, 0.4);
    --other-overlay-60: rgba(0, 0, 0, 0.6);
    --otherblue-50: rgba(29, 136, 254, 0.2);
    --othergray-50: rgba(174, 185, 225, 0.2);
    --othergreen-50: rgba(5, 193, 104, 0.2);
    --otherpurple-100: rgba(87, 93, 255, 0.5);
    --otherpurple-50: rgba(87, 93, 255, 0.2);
    --otherred-50: rgba(255, 90, 101, 0.2);
    --othersky-blue-50: rgba(87, 195, 255, 0.2);
    --otheryellow-50: rgba(255, 176, 22, 0.2);
    --paragraph-default-font-family: "Mona-Sans", Helvetica;
    --paragraph-default-font-size: 12px;
    --paragraph-default-font-style: normal;
    --paragraph-default-font-weight: 500;
    --paragraph-default-letter-spacing: 0px;
    --paragraph-default-line-height: 18px;
    --paragraph-large-font-family: "Mona-Sans", Helvetica;
    --paragraph-large-font-size: 16px;
    --paragraph-large-font-style: normal;
    --paragraph-large-font-weight: 400;
    --paragraph-large-letter-spacing: 0px;
    --paragraph-large-line-height: 24px;
    --paragraph-small-font-family: "Mona-Sans", Helvetica;
    --paragraph-small-font-size: 10px;
    --paragraph-small-font-style: normal;
    --paragraph-small-font-weight: 500;
    --paragraph-small-letter-spacing: 0px;
    --paragraph-small-line-height: 14px;
    --primary-colorscolor-1: rgba(203, 60, 255, 1);
    --rich-text-bold-font-family: "Mona-Sans", Helvetica;
    --rich-text-bold-font-size: 12px;
    --rich-text-bold-font-style: normal;
    --rich-text-bold-font-weight: 600;
    --rich-text-bold-letter-spacing: 0px;
    --rich-text-bold-line-height: 14px;
    --rich-text-link-text-font-family: "Mona-Sans", Helvetica;
    --rich-text-link-text-font-size: 16px;
    --rich-text-link-text-font-style: normal;
    --rich-text-link-text-font-weight: 500;
    --rich-text-link-text-letter-spacing: 0px;
    --rich-text-link-text-line-height: 20px;
    --secondary-colorscolor-1: rgba(11, 23, 57, 1);
    --secondary-colorscolor-2: rgba(154, 145, 251, 1);
    --secondary-colorscolor-3: rgba(0, 194, 255, 1);
    --secondary-colorscolor-4: rgba(52, 59, 79, 1);
    --secondary-colorscolor-5: rgba(253, 181, 42, 1);
    --special-headings-display-1-font-family: "Mona-Sans", Helvetica;
    --special-headings-display-1-font-size: 52px;
    --special-headings-display-1-font-style: normal;
    --special-headings-display-1-font-weight: 600;
    --special-headings-display-1-letter-spacing: 0px;
    --special-headings-display-1-line-height: 62px;
    --special-headings-display-2-font-family: "Mona-Sans", Helvetica;
    --special-headings-display-2-font-size: 38px;
    --special-headings-display-2-font-style: normal;
    --special-headings-display-2-font-weight: 600;
    --special-headings-display-2-letter-spacing: 0px;
    --special-headings-display-2-line-height: 48px;
    --special-headings-display-3-font-family: "Mona-Sans", Helvetica;
    --special-headings-display-3-font-size: 28px;
    --special-headings-display-3-font-style: normal;
    --special-headings-display-3-font-weight: 600;
    --special-headings-display-3-letter-spacing: 0px;
    --special-headings-display-3-line-height: 38px;
    --special-headings-display-4-font-family: "Mona-Sans", Helvetica;
    --special-headings-display-4-font-size: 24px;
    --special-headings-display-4-font-style: normal;
    --special-headings-display-4-font-weight: 600;
    --special-headings-display-4-letter-spacing: 0px;
    --special-headings-display-4-line-height: 32px;
    --system-colors-blue-100: rgba(234, 244, 255, 1);
    --system-colors-blue-200: rgba(143, 195, 255, 1);
    --system-colors-green-100: rgba(222, 242, 230, 1);
    --system-colors-green-200: rgba(127, 220, 164, 1);
    --system-colors-orange-100: rgba(255, 243, 228, 1);
    --system-colors-orange-200: rgba(255, 209, 155, 1);
    --system-colors-orange-300: rgba(255, 158, 44, 1);
    --system-colors-orange-400: rgba(213, 105, 27, 1);
    --system-colors-red-100: rgba(255, 239, 240, 1);
    --system-colors-red-200: rgba(255, 190, 194, 1);
    --system-colors-red-400: rgba(220, 43, 43, 1);
    --system-colorsblue-300: rgba(29, 136, 254, 1);
    --system-colorsblue-400: rgba(8, 108, 217, 1);
    --system-colorsgreen-300: rgba(5, 193, 104, 1);
    --system-colorsgreen-400: rgba(17, 132, 91, 1);
    --system-colorsred-300: rgba(255, 90, 101, 1);
    --text-single-100-bold-font-family: "Mona-Sans", Helvetica;
    --text-single-100-bold-font-size: 12px;
    --text-single-100-bold-font-style: normal;
    --text-single-100-bold-font-weight: 600;
    --text-single-100-bold-letter-spacing: 0px;
    --text-single-100-bold-line-height: 14px;
    --text-single-100-medium-font-family: "Mona-Sans", Helvetica;
    --text-single-100-medium-font-size: 12px;
    --text-single-100-medium-font-style: normal;
    --text-single-100-medium-font-weight: 500;
    --text-single-100-medium-letter-spacing: 0px;
    --text-single-100-medium-line-height: 14px;
    --text-single-100-regular-font-family: "Mona-Sans", Helvetica;
    --text-single-100-regular-font-size: 12px;
    --text-single-100-regular-font-style: normal;
    --text-single-100-regular-font-weight: 400;
    --text-single-100-regular-letter-spacing: 0px;
    --text-single-100-regular-line-height: 14px;
    --text-single-200-bold-font-family: "Mona-Sans", Helvetica;
    --text-single-200-bold-font-size: 14px;
    --text-single-200-bold-font-style: normal;
    --text-single-200-bold-font-weight: 600;
    --text-single-200-bold-letter-spacing: 0px;
    --text-single-200-bold-line-height: 16px;
    --text-single-200-medium-font-family: "Mona-Sans", Helvetica;
    --text-single-200-medium-font-size: 14px;
    --text-single-200-medium-font-style: normal;
    --text-single-200-medium-font-weight: 500;
    --text-single-200-medium-letter-spacing: 0px;
    --text-single-200-medium-line-height: 14px;
    --text-single-200-regular-font-family: "Mona-Sans", Helvetica;
    --text-single-200-regular-font-size: 14px;
    --text-single-200-regular-font-style: normal;
    --text-single-200-regular-font-weight: 400;
    --text-single-200-regular-letter-spacing: 0px;
    --text-single-200-regular-line-height: 16px;
    --text-single-25-bold-font-family: "Mona-Sans", Helvetica;
    --text-single-25-bold-font-size: 8px;
    --text-single-25-bold-font-style: normal;
    --text-single-25-bold-font-weight: 600;
    --text-single-25-bold-letter-spacing: 0px;
    --text-single-25-bold-line-height: 12px;
    --text-single-25-medium-font-family: "Mona-Sans", Helvetica;
    --text-single-25-medium-font-size: 8px;
    --text-single-25-medium-font-style: normal;
    --text-single-25-medium-font-weight: 500;
    --text-single-25-medium-letter-spacing: 0px;
    --text-single-25-medium-line-height: 12px;
    --text-single-25-regular-font-family: "Mona-Sans", Helvetica;
    --text-single-25-regular-font-size: 8px;
    --text-single-25-regular-font-style: normal;
    --text-single-25-regular-font-weight: 400;
    --text-single-25-regular-letter-spacing: 0px;
    --text-single-25-regular-line-height: 12px;
    --text-single-300-bold-font-family: "Mona-Sans", Helvetica;
    --text-single-300-bold-font-size: 16px;
    --text-single-300-bold-font-style: normal;
    --text-single-300-bold-font-weight: 600;
    --text-single-300-bold-letter-spacing: 0px;
    --text-single-300-bold-line-height: 18px;
    --text-single-300-medium-font-family: "Mona-Sans", Helvetica;
    --text-single-300-medium-font-size: 16px;
    --text-single-300-medium-font-style: normal;
    --text-single-300-medium-font-weight: 500;
    --text-single-300-medium-letter-spacing: 0px;
    --text-single-300-medium-line-height: 18px;
    --text-single-300-regular-font-family: "Mona-Sans", Helvetica;
    --text-single-300-regular-font-size: 16px;
    --text-single-300-regular-font-style: normal;
    --text-single-300-regular-font-weight: 400;
    --text-single-300-regular-letter-spacing: 0px;
    --text-single-300-regular-line-height: 18px;
    --text-single-400-bold-font-family: "Mona-Sans", Helvetica;
    --text-single-400-bold-font-size: 20px;
    --text-single-400-bold-font-style: normal;
    --text-single-400-bold-font-weight: 600;
    --text-single-400-bold-letter-spacing: 0px;
    --text-single-400-bold-line-height: 22px;
    --text-single-400-medium-font-family: "Mona-Sans", Helvetica;
    --text-single-400-medium-font-size: 20px;
    --text-single-400-medium-font-style: normal;
    --text-single-400-medium-font-weight: 500;
    --text-single-400-medium-letter-spacing: 0px;
    --text-single-400-medium-line-height: 22px;
    --text-single-400-regular-font-family: "Mona-Sans", Helvetica;
    --text-single-400-regular-font-size: 20px;
    --text-single-400-regular-font-style: normal;
    --text-single-400-regular-font-weight: 400;
    --text-single-400-regular-letter-spacing: 0px;
    --text-single-400-regular-line-height: 22px;
    --text-single-50-bold-font-family: "Mona-Sans", Helvetica;
    --text-single-50-bold-font-size: 10px;
    --text-single-50-bold-font-style: normal;
    --text-single-50-bold-font-weight: 600;
    --text-single-50-bold-letter-spacing: 0px;
    --text-single-50-bold-line-height: 10px;
    --text-single-50-medium-font-family: "Mona-Sans", Helvetica;
    --text-single-50-medium-font-size: 10px;
    --text-single-50-medium-font-style: normal;
    --text-single-50-medium-font-weight: 500;
    --text-single-50-medium-letter-spacing: 0px;
    --text-single-50-medium-line-height: 10px;
    --text-single-50-regular-font-family: "Mona-Sans", Helvetica;
    --text-single-50-regular-font-size: 10px;
    --text-single-50-regular-font-style: normal;
    --text-single-50-regular-font-weight: 400;
    --text-single-50-regular-letter-spacing: 0px;
    --text-single-50-regular-line-height: 10px;
    --text-single-uppercase-100-bold-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-100-bold-font-size: 12px;
    --text-single-uppercase-100-bold-font-style: normal;
    --text-single-uppercase-100-bold-font-weight: 600;
    --text-single-uppercase-100-bold-letter-spacing: 0.72px;
    --text-single-uppercase-100-bold-line-height: 14px;
    --text-single-uppercase-100-medium-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-100-medium-font-size: 12px;
    --text-single-uppercase-100-medium-font-style: normal;
    --text-single-uppercase-100-medium-font-weight: 500;
    --text-single-uppercase-100-medium-letter-spacing: 0.72px;
    --text-single-uppercase-100-medium-line-height: 14px;
    --text-single-uppercase-100-regular-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-100-regular-font-size: 12px;
    --text-single-uppercase-100-regular-font-style: normal;
    --text-single-uppercase-100-regular-font-weight: 400;
    --text-single-uppercase-100-regular-letter-spacing: 0.72px;
    --text-single-uppercase-100-regular-line-height: 14px;
    --text-single-uppercase-200-bold-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-200-bold-font-size: 14px;
    --text-single-uppercase-200-bold-font-style: normal;
    --text-single-uppercase-200-bold-font-weight: 600;
    --text-single-uppercase-200-bold-letter-spacing: 0.84px;
    --text-single-uppercase-200-bold-line-height: 16px;
    --text-single-uppercase-200-medium-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-200-medium-font-size: 14px;
    --text-single-uppercase-200-medium-font-style: normal;
    --text-single-uppercase-200-medium-font-weight: 500;
    --text-single-uppercase-200-medium-letter-spacing: 0.84px;
    --text-single-uppercase-200-medium-line-height: 16px;
    --text-single-uppercase-200-regular-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-200-regular-font-size: 14px;
    --text-single-uppercase-200-regular-font-style: normal;
    --text-single-uppercase-200-regular-font-weight: 400;
    --text-single-uppercase-200-regular-letter-spacing: 0.84px;
    --text-single-uppercase-200-regular-line-height: 16px;
    --text-single-uppercase-300-bold-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-300-bold-font-size: 16px;
    --text-single-uppercase-300-bold-font-style: normal;
    --text-single-uppercase-300-bold-font-weight: 600;
    --text-single-uppercase-300-bold-letter-spacing: 0.96px;
    --text-single-uppercase-300-bold-line-height: 18px;
    --text-single-uppercase-300-medium-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-300-medium-font-size: 16px;
    --text-single-uppercase-300-medium-font-style: normal;
    --text-single-uppercase-300-medium-font-weight: 500;
    --text-single-uppercase-300-medium-letter-spacing: 0.96px;
    --text-single-uppercase-300-medium-line-height: 18px;
    --text-single-uppercase-300-regular-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-300-regular-font-size: 16px;
    --text-single-uppercase-300-regular-font-style: normal;
    --text-single-uppercase-300-regular-font-weight: 400;
    --text-single-uppercase-300-regular-letter-spacing: 0.96px;
    --text-single-uppercase-300-regular-line-height: 18px;
    --text-single-uppercase-400-bold-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-400-bold-font-size: 20px;
    --text-single-uppercase-400-bold-font-style: normal;
    --text-single-uppercase-400-bold-font-weight: 600;
    --text-single-uppercase-400-bold-letter-spacing: 1.2px;
    --text-single-uppercase-400-bold-line-height: 22px;
    --text-single-uppercase-400-medium-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-400-medium-font-size: 20px;
    --text-single-uppercase-400-medium-font-style: normal;
    --text-single-uppercase-400-medium-font-weight: 500;
    --text-single-uppercase-400-medium-letter-spacing: 1.2px;
    --text-single-uppercase-400-medium-line-height: 22px;
    --text-single-uppercase-400-regular-font-family: "Mona-Sans", Helvetica;
    --text-single-uppercase-400-regular-font-size: 20px;
    --text-single-uppercase-400-regular-font-style: normal;
    --text-single-uppercase-400-regular-font-weight: 400;
    --text-single-uppercase-400-regular-letter-spacing: 1.2px;
    --text-single-uppercase-400-regular-line-height: 22px;
    --x-0e-4-3fb: rgba(14, 67, 251, 1);
    --x-2-1c-3fc: rgba(33, 195, 252, 1);
    --x-895-1ff: rgba(137, 81, 255, 1);
  }
  